	

{# /templates/index.html_ #}

{% extends "layout.html" %}
{% block title %}DnD Resources{% endblock %}
{% block body %}
    {{ super() }}
    <h2>This is the main page of the site.</h2>

    <p>Here I d will show case some of the stuff we get up to in our campagin, 
        and some resoucres I've been developing to make being a player easier.</p>

    <!-- scripts -->
    <!-- <script src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>    

    <script type="text/babel">        
        var realPython = <h2>Greetings, from Real Python!</h2>;
        ReactDOM.render(realPython,document.getElementById('main'));
    </script> -->
{% endblock %}
