{# /templates/index.html_ #}

{% extends "layout.html" %}
{% block title %}School Spells{% endblock %}
{% block body %}
    {{ super() }}


    <!-- scripts -->
    <script src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>    

    <script type="text/babel">        
        var json_data = JSON.parse('{{ data | tojson | safe}}');
        console.log(JSON.stringify(json_data, null, 2))
        //ReactDOM.render(realPython,document.getElementById('main'));
    </script>
{% endblock %}